<div class="row">
  <div class="col-md-6" *ngFor="let data of getData">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <strong>{{ data.title }}</strong>
      </div>
      <div class="card-body">
        <h5>Category : {{ data.category }}</h5>
        <img [src]="data.image" alt="" />
        <strong>Price : {{ data.price }}</strong>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          (click)="editPdt(data)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          aria-label="Example icon button with a menu icon"
          (click)="removePdt(data.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
