<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <app-product-form
        (submitdata)="submit($event)"
        [patchData]="editObj"
        (updatedata)="onUpdate($event)"
      ></app-product-form>
    </div>
    <div class="col-md-8">
      <app-product-list
        [getData]="product"
        (editData)="editPdt($event)"
        (removeData)="onRemove($event)"
        [IsinEditMode]="IsinEditMode"
      ></app-product-list>
    </div>
  </div>
</div>
r
